<h1>Thanks for your purchase, <%= @user.username %>!</h1>
<p>You will receive your order in about 5-10 business days. Once your order has shipped you will then be able to track your packge with your UPS, or USPS tracking number!</p>