<div id="container">
	<%= @orders.inspect %>
	<% @orders.each do |order| %>
		<p><%= "#{order["status"]} - #{order["total"]}" %></p>
	<% end %>
</div>



{"status"=>"order"
"total"=>34.14
"subtotal"=>30.89
"fees"=>1, "shipping"=>2.25, 
"orderToken"=>"order_we_xWFC5IumS1-HRb0DD6w", 
"mode"=>"test", "createdAt"=>"2015-05-14T21:34:28.427Z",
"warnings"=>[]
"events"=>[{"name"=>"quote"
"description"=>"Quote completed"
"createdAt"=>"2015-05-14T21:34:28.427Z"}